<%= form_with(model: train, local: true) do |form| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :number_of_wagons %>
    <%= form.number_field :number_of_wagons %>
  </div>

  <div class="field">
    <%= form.label :train_type %>
    <%= form.text_field :train_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
