<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Model:</strong>
  <%= @train.model %>
</p>

<p>
  <strong>Number of wagons:</strong>
  <%= @train.number_of_wagons %>
</p>

<p>
  <strong>Train type:</strong>
  <%= @train.train_type %>
</p>

<% if @train.route.present?%>
  <p>
    <strong>In the route:</strong>
    <%= @train.route.name %>
  </p>
<% else %>
  <p>
    <strong>Not in the route now!</strong>
  </p>
<% end %>

<% if @train.railway_station.present?%>
  <p>
    <strong>On the station:</strong>
    <%= @train.railway_station.title %>
  </p>
<% else %>
  <p>
    <strong>Not on the station now!</strong>
  </p>
<% end %>

<% if @train.wagons.present?%>
  <p>
    <strong>Adding wagons on this train:</strong>
  </p>
  <table>
    <thead>
    <tr>
      <th>Type of wagon</th>
      <th>Plazz top places</th>
      <th>Plazz bottom places</th>
      <th>Coupe top places</th>
      <th>Coupe bottom places</th>
    </tr>
    </thead>

    <tbody>
    <% @train.wagons.each do |wagon| %>
      <tr>
        <td><%= wagon.wagon_type %></td>
        <td><%= wagon.plazz_top_places %></td>
        <td><%= wagon.plazz_bottom_places %></td>
        <td><%= wagon.coupe_top_places %></td>
        <td><%= wagon.coupe_bottom_places %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    <strong>Not adding wagons on this train now!</strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
