<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Model:</strong>
  <%= @train.model %>
</p>

<p>
  <strong>Number of wagons:</strong>
  <%= @train.number_of_wagons %>
</p>

<p>
  <strong>Train type:</strong>
  <%= @train.train_type %>
</p>

<% if @train.route.present?%>
  <p>
    <strong>In the route:</strong>
    <%= @train.route.name %>
  </p>
<% else %>
  <p>
    <strong>Not in the route now!</strong>
  </p>
<% end %>

<% if @train.railway_station.present?%>
  <p>
    <strong>On the station:</strong>
    <%= @train.railway_station.title %>
  </p>
<% else %>
  <p>
    <strong>Not on the station now!</strong>
  </p>
<% end %>

<p>
  <strong>Carriages:</strong>
  <ul> <% @train.carriages.each do |carr| %>
    <li><%= link_to "Carriage №#{carr.number}", carr %></li>
      <% end %>
  </ul>
</p>

<p>
  <%= link_to 'Add carriage', new_train_carriage_path(@train) %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
