<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<% if @route.railway_stations.present? %>
<p>
  <strong>First Station:</strong>
  <%= @route.railway_stations.first.title %>
</p>

<p>
  <strong>Last Station:</strong>
  <%= @route.railway_stations.last.title %>
</p>
  <%= render 'railway_stations' %>
  <% else %>
  <p>
    <strong>Not Stations!</strong>
  </p>
  <% end %>

<% if @route.trains.present?%>
  <%= render 'trains' %>
<% else %>
  <p>
    <strong>Not trains on this route now!</strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
