<%= form_with(model: [:admin, train], local: true) do |form| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :number_of_wagons %>
    <%= form.number_field :number_of_wagons %>
  </div>

  <div class="field">
    <%= form.label :train_type %>
    <%= form.text_field :train_type %>
  </div>

  <div class="field">
    <%= form.label :railway_station_id, "Current station" %>
    <%= form.collection_select :railway_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :route_id, "Current route" %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
